<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts:: header"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="page">
  <div class="content">
    <div>
      <form action="/employees/save" th:object="${employeeForm}" method="POST">
        <input type="text" placeholder="Employee First Name" th:field="${employeeForm.firstName}">
        <input type="text" placeholder="Employee Last Name" th:field="${employeeForm.lastName}">
        <input type="text" placeholder="Email Address" th:field="${employeeForm.email}">
        <button type="submit">Create Employee</button>
      </form>
    </div>

    <h4>Current Employees</h4>

    <table>
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.firstName}" />
        <td th:text="${employee.lastName}" />
        <td th:text="${employee.email}" />
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>

</html>
